.container {
  margin: 50px auto;
  width: 400px;
  border: 1px solid black;
  box-shadow: 1rem 1rem 2rem rgba(38, 60, 125, 0.435),
    -1rem -1rem 2rem rgb(38, 60, 125, 0.435);
  background-color: rgb(253, 253, 253);
}
